@model VoteSystem.Clients.MVC.Areas.Administration.ViewModels.VoteSystemUser.VoteSystemUserViewModel

<td class="col-md-1 col-sm-1 col-xs-1">
    @Html.CheckBoxFor(m => m.IsSelected)
    @Html.HiddenFor(m => m.Id)
</td>
<td class="col-md-2 col-sm-2 col-xs-2">
    @Model.FacultyNumber
    @Html.HiddenFor(m => m.FacultyNumber)
</td>
<td class="col-md-3 col-sm-3 col-xs-3">
    @Model.FirstName
    @Html.HiddenFor(m => m.FirstName)
</td>
<td class="col-md-3 col-sm-3 col-xs-3">
    @Model.LastName
    @Html.HiddenFor(m => m.LastName)
</td>
<td class="col-md-3 col-sm-3 col-xs-3">
    @Model.Email
    @Html.HiddenFor(m => m.Email)
</td>
