@model VoteSystem.Clients.MVC.ViewModels.Account.ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string returnUrl = (string)ViewBag.ReturnUrl;
}

@section Styles {
    @Styles.Render("~/Content/forms-css")
}

<div id="wrapper">
    <div class="animate form">
        <section class="login_content">
            @using (Html.BeginForm<AccountController>(c => c.ForgotPassword(string.Empty), FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <h1>Забравена парола</h1>

                <div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Имейл адрес." })
                </div>
                <div class="error-message">
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div>
                    <button id="submit-btn" type="submit" class="btn btn-dark" style="width: 100%">
                        Изпрати
                    </button>
                </div>

                <div class="separator">
                    <p class="change_link">
                        @(Html.ActionLink<AccountController>("Обратно", c => c.Login(returnUrl)))                       
                    </p>
                </div>
            }
        </section>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
