@model VoteSystem.Clients.MVC.ViewModels.Account.ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/forms-css")
}

<div id="wrapper">
    <div id="login" class="animate form">
        <section class="login_content">
            @using (Html.BeginForm<AccountController>(c => c.ResetPassword(string.Empty), FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Code)
                <h1>Смяна на парола</h1>

                <div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Имейл." })
                </div>
                <div class="error-message">
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    @Html.ValidationMessage("IncorectEmail", new { @class = "text-danger" })
                </div>
                <div>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Нова парола." })
                </div>
                <div class="error-message">
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })                   
                </div>
                <div>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Повтори  новата паролата." })
                </div>
                <div class="error-message">
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                <div>
                    <button id="submit-btn" type="submit" class="btn btn-dark" style="width: 100%">
                        Изпрати
                    </button>
                </div>
                <div class="separator">
                    <p class="change_link">
                        @(Html.ActionLink<AccountController>("Вход", c => c.Login(string.Empty)))
                        @(Html.ActionLink<HomeController>("Начало", c => c.Index()))
                    </p>
                </div>
            }
        </section>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
