@model Ankk.Web.Models.ContestViewModel

@{
    ViewBag.Title = "Create exam";
}

<h2>@ViewBag.Title</h2>

<hr />

<div id="create-form" class="container">
    @using (Html.BeginForm("Create", "Administration", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="row">
            <div class="editor-label col-xs-3">
                <div class="pull-right">
                    @Html.LabelFor(m => m.Name)
                </div>
            </div>
            <div class="editor-field col-xs-4">
                @Html.EditorFor(m => m.Name, new { @class = "form-control pull-left full-editor" })
            </div>
            <div class="editor-field col-xs-4">
                <span class="glyphicon glyphicon-question-sign text-primary" title="Enter title of exam" data-tooltip="true"></span>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="editor-label col-xs-3">
                <div class="pull-right">
                    @Html.LabelFor(m => m.IsVisible)
                </div>
            </div>
            <div class="editor-field col-xs-4">
                @Html.EditorFor(m => m.IsVisible, new { @class = "form-control pull-left full-editor" })
            </div>
            <div class="editor-field col-xs-4">
                <span class="glyphicon glyphicon-question-sign text-primary" title="Choose whether the exam is visible for the students" data-tooltip="true"></span>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="editor-label col-xs-3">
                <div class="pull-right">
                    @Html.LabelFor(m => m.IsStrict)
                </div>
            </div>
            <div class="editor-field col-xs-4">
                @Html.EditorFor(m => m.IsStrict, new { @class = "form-control pull-left full-editor" })
            </div>
            <div class="editor-field col-xs-4">
                <span class="glyphicon glyphicon-question-sign text-primary" title="If you check this checkbox the server will igrore all white spaces" data-tooltip="true"></span>
            </div>
        </div>
        <br />

    <div class="row">
        <div class="editor-label col-xs-3">
            <div class="pull-right"></div>
        </div>
        <div class="editor-field col-xs-4">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>       
    </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
